name: Build and test

on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Java 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Build and test with Gradle
        run: ./gradlew build --no-daemon --console=plain --stacktrace

      - name: Upload JAR artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-jars
          path: build/libs/*.jar
